@charset "UTF-8";
/* Bykov DS 07102015 */
/* общая ширина контента */
/* ширина основной обертки */
/* размер шрифта */
/* высота строки */
/* семейство шрифта */
/* все цвета */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-size: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Georgia Regular";
  src: url("../fonts/Georgia.ttf");
}

body {
  font: normal 18px/24px "Open Sans", "Arial", "sans serif";
  color: #283645;
  width: 100%;
  position: relative;
  min-width: 1095px;
  max-width: 1200px;
  margin: 0 auto;
}

/* задаем общий стиль для всех ссылок */
a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* распорка */
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

/* декоративные классы с иконками */
.icon {
  /* стрелка вперед */
  /* стрелка назад */
  /* кавычки */
  /* галочка */
  /* крестик */
}

.icon-next {
  display: inline-block;
  vertical-align: baseline;
  width: 22px;
  height: 42px;
  background: url("../img/icon_next.png") 0 0 no-repeat;
}

.icon-prev {
  display: inline-block;
  vertical-align: baseline;
  width: 22px;
  height: 42px;
  background: url("../img/icon_prev.png") 0 0 no-repeat;
}

.icon-quote {
  display: inline-block;
  vertical-align: baseline;
  width: 79px;
  height: 64px;
  background: url("../img/icon_quote.png") 0 0 no-repeat;
}

.icon-check {
  display: inline-block;
  vertical-align: baseline;
  width: 29px;
  height: 22px;
  background: url("../img/icon_check.png") 0 0 no-repeat;
}

.icon-cross {
  display: inline-block;
  vertical-align: baseline;
  width: 26px;
  height: 26px;
  background: url("../img/icon_cross.png") 0 0 no-repeat;
}

.icon-twitter {
  display: inline-block;
  vertical-align: middle;
  width: 47px;
  height: 47px;
  background: url("../img/icon_twitter.png") 50% 50% no-repeat;
}

.icon-fb {
  display: inline-block;
  vertical-align: middle;
  width: 47px;
  height: 47px;
  background: url("../img/icon_fb.png") 50% 50% no-repeat;
}

.icon-tube {
  display: inline-block;
  vertical-align: middle;
  width: 47px;
  height: 47px;
  background: url("../img/icon_tube.png") 50% 50% no-repeat;
}

/* шапка */
.main-header {
  background: url("../img/bg_hand.png") 74.5% 100% no-repeat, #263442 url("../img/bg_header.jpg") 50% 0 no-repeat;
  min-height: 854px;
  margin: 0 auto;
  width: 100%;
  /* обертка */
  /* панель навигации */
  /* логотип */
  /* ссылки пунктов меню */
  /* пункты меню */
  /* распорка блоков */
}

.main-header__menu {
  background: rgba(0, 0, 0, 0.3);
}

.main-header__layout {
  margin: 0 10%;
  padding: 0 0.8%;
  width: 78.4%;
  margin-bottom: 104px;
}

.main-header__navigation {
  float: right;
  margin: 0;
  padding: 45px 0;
  position: relative;
  width: 70%;
  text-align: right;
}

.main-header__logo {
  float: left;
  width: 140px;
  height: 40px;
  padding: 29px 0;
}

.main-header__menu a {
  color: #fff;
  font: normal 18px/18px "Open Sans", "Arial", "sans serif";
}

.main-header__navigation li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10%;
}

.main-header__navigation li:last-child {
  margin-right: 0;
}

.main-header:after {
  display: table;
  content: '';
  clear: both;
}

/* шапка контентная часть */
/* промоблок */
.promo {
  float: left;
  width: 32.6%;
  padding: 0 2.9px;
  margin: 0 auto;
  /* иконки */
  /* ссылки на мобильные приложения */
}

.promo__layout {
  margin: 0 10px;
}

.promo__h1 {
  font: normal 50px/60px "Open Sans", "Arial", "sans serif";
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 53px;
}

.promo__mac {
  display: inline-block;
  width: 46px;
  height: 47px;
  background: url("../img/icon_apple.png") 0 0 no-repeat;
}

.promo__android {
  display: inline-block;
  width: 42px;
  height: 47px;
  background: url("../img/icon_android.png") 0 0 no-repeat;
}

.promo__ms {
  display: inline-block;
  width: 44px;
  height: 42px;
  background: url("../img/icon_ms.png") 0 0 no-repeat;
}

.promo__eshop {
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 63px;
}

.promo__eshop li {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 36px;
}

.promo__eshop li:last-child {
  margin-right: 0;
}

.promo__description {
  margin: 0 10px;
  font: 100 18px/24px "Open Sans Light", "Arial", "sans serif";
  color: #fff;
}

/* кнопка */
.btn {
  display: block;
  font: bold 21px/18px "Open Sans", "Arial", "sans serif";
  color: #fff;
  text-align: center;
  text-decoration: none;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 66px;
  padding: 14px 0;
  border: 3px solid #fff;
  border-radius: 28px;
}

/* контентный блок страницы */
.main-content {
  margin: 0 auto;
}

.main-content__layout {
  margin: 0 auto;
  padding: 0 10px;
  width: 78.4%;
}

/* блок информации предложения */
.information {
  background: #f2f2f2;
}

.information__layout {
  width: 78.4%;
  margin: 0 auto;
}

.information__header {
  margin: 60px 8.51% 70px;
  padding: 0 1.67%;
  text-align: center;
  font: 100 50px/60px "Open Sans Light", "Arial", "sans serif";
  color: #283645;
}

.information__application-effects > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 2.98%;
  margin-bottom: 65px;
}

.information__application-effects > div:nth-child(3) {
  margin-right: 0;
}

/* эффекты от использования приложения */
.application-effect {
  width: 30.85%;
  min-height: 555px;
  text-align: center;
}

.application-effect__preview {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
}

.application-effect__preview.phone1 {
  background: url("../img/img_phone1_content.jpg") 50% 43px no-repeat, url("../img/img_phone.png") 50% 0 no-repeat;
}

.application-effect__preview.phone2 {
  background: url("../img/img_phone2_content.jpg") 50% 43px no-repeat, url("../img/img_phone.png") 50% 0 no-repeat;
}

.application-effect__preview.phone3 {
  background: url("../img/img_phone3_content.jpg") 50% 43px no-repeat, url("../img/img_phone.png") 50% 0 no-repeat;
}

.application-effect__header {
  font: normal 30px/30px "Open Sans Bold", "Arial", "sans serif";
  color: #000000;
  margin: 0 8.5%;
  margin-bottom: 30px;
}

.application-effect__content {
  font: normal 18px/30px "Open Sans", "Arial", "sans serif";
  color: #283645;
  margin: 0 8.5%;
}

.application-effect2 {
  float: right;
  padding-top: 91px;
  padding-bottom: 50px;
  font: normal 18px/30px "Open Sans", "Arial", "sans serif";
  padding-left: 39%;
  background: url("../img/img_watch.png") 0 0 no-repeat;
}

.application-effect2__header {
  font: normal 30px/30px "Open Sans Bold", "Arial", "sans serif";
  color: #000000;
  margin: 0;
  margin-bottom: 26px;
}

.application-effect2__content {
  color: #283645;
  margin: 0;
  margin-bottom: 30px;
}

.application-effect2__about a {
  color: #d22856;
  text-decoration: underline;
}

/* слайдер */
.slider {
  margin: 0;
  margin-bottom: 10px;
  /* обертка */
}

.slider__layout {
  margin: 0 auto;
  padding: 0 0.83%;
  margin-bottom: 60px;
  width: 78.4%;
}

.slider__prev {
  float: left;
  padding: 146px 0;
  margin-right: 9.57%;
}

.slider__content {
  float: left;
  margin: 0;
  width: 72.34%;
}

.slider__next {
  float: right;
  padding: 146px 0;
  margin-left: 9.57%;
}

.reviews {
  margin: 0 auto;
  text-align: center;
  font: normal 18px/30px "Open Sans", "Arial", "sans serif";
  color: #283645;
}

.reviews__layout {
  margin: 0 auto;
  padding: 0 0.83%;
  width: 100%;
}

.reviews__content {
  text-align: center;
  margin: 48px 0 38px;
}

.reviews__name {
  font: normal 24px/30px "Open Sans Bold", "Arial", "sans serif";
  color: #000000;
  margin: 0;
}

/* прайс-лист */
.price {
  background-color: #f2f2f2;
  font: normal 18px/30px "Open Sans", "Arial", "sans serif";
  padding-top: 150px;
}

.price__layout {
  margin: 0 auto;
  padding: 0 0.83%;
  width: 78.4%;
  padding-bottom: 95px;
}

.price table {
  border-collapse: collapse;
}

.price td,
.price th {
  border: 2px solid #e5e5e5;
  width: 235px;
  text-align: center;
}

.price td:first-child {
  text-align: left;
}

.price__header th:first-child {
  border: 0;
}

.price__content td {
  padding: 13px 0;
  background-color: #fff;
}

/* карточка прайса */
.price-card {
  background-color: #283645;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.price-card__layout {
  padding: 20px 0;
}

.price-card__header {
  margin: 0 auto;
  font: normal 18px/30px "Open Sans Bold", "Arial", "sans serif";
  margin-bottom: 5px;
}

.price-card__content {
  margin: 0 auto;
  font: 100 24px/24px "Open Sans Light", "Arial", "sans serif";
}

.price-card__hit {
  position: absolute;
  display: inline-block;
  width: 74px;
  height: 73px;
  background: url("../img/img_hit.png") 0 0 no-repeat;
  top: 0;
  left: 0;
}

.contacts {
  position: relative;
  width: 1200px;
  background: #fff 470px 0;
  margin: 0 auto;
  position: relative;
}

.contacts__layout {
  width: 78.4%;
  margin: 0 auto;
}

.contacts__map {
  height: 1070px;
  margin: 0 auto;
  width: 1200px;
}

.contacts__content {
  position: absolute;
  background: white;
  width: 100%;
  top: 0;
}

.contacts__header {
  margin: 60px 6.38%;
  padding: 0 2.13%;
  text-align: center;
  font: 100 50px/60px "Open Sans Light", "Arial", "sans serif";
  color: #283645;
}

.contacts__column {
  display: inline-block;
  vertical-align: top;
  width: 29.79%;
  padding: 0 1.06%;
  margin-right: 1.06%;
  font: normal 18px/24px "Open Sans Bold", "Arial", "sans serif";
  color: #283645;
  text-align: center;
  padding-bottom: 130px;
}

.contacts__data {
  margin-top: 25px;
  font: 100 24px/24px "Open Sans Light", "Arial", "sans serif";
  color: #d22856;
}

/* подвал */
.main-footer {
  width: 100%;
  min-height: 205px;
  position: absolute;
  background: #fff;
  bottom: 0;
  margin: 0 auto;
  /* логотип */
}

.main-footer__layout {
  width: 78.4%;
  text-align: left;
  margin: 0 auto;
}

.main-footer__column {
  width: 23%;
  height: 50px;
}

.main-footer__column:first-child {
  float: left;
  margin-right: 17%;
  padding: 82px 0;
}

.main-footer__column:nth-child(2) {
  float: left;
  padding: 82px 0;
}

.main-footer__column:last-child {
  float: right;
  padding: 81px 0 66px;
}

.main-footer__logo {
  display: inline-block;
  width: 146px;
  height: 40px;
  background: url("../img/img_logo1.png") 0 0 no-repeat;
  margin: 0;
  padding: 0;
  text-align: left;
}

.main-footer__social {
  display: inline-block;
  width: 47px;
  height: 47px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin-right: 1.2%;
  text-align: center;
  vertical-align: middle;
}

.main-footer__social:last-child {
  margin-right: 0;
}

.main-footer__html {
  display: inline-block;
  width: 208px;
  height: 33px;
  background: url("../img/img_htmlacademy.png") 0 0 no-repeat;
}

/* форматирование условное */
.l1 {
  outline: 1px solid #0f0;
  background: rgba(160, 240, 160, 0.4);
}

.l2 {
  outline: 1px solid #00f;
  background: rgba(160, 160, 240, 0.4);
}
