/* ширина основной обертки */

$main-layout-width: 960px;

/* размер шрифта */

$font-size: 14px;

$font-size-main-menu:18px;

/* высота строки */

$line-height: 24px;

$line-height-main-menu: 18px;

/* семейство шрифта */

$font-family: 'Open Sans', 'Arial', 'sans serif';


/* цвет текста */

$font-color: #283645;

/* все цвета */

/* белый цвет */

$white: #fff;

$gray-rgba: rgba(0,0,0,.3);


